body {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

img {
  margin-left: auto;
  margin-right: auto;
}

label.btn {
  font-size: 64px;
}

.btn-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[class=input-large] {
    width: 100%;
    font-size: 64px;
}

.row {
  padding: 20px;
}

.col-sm-6 .btn-lg {
  font-size: 100px;
  min-height: 300px;
}

#warn_message {
  color: #d35400;
}
