<launch>
    <!---
    <node pkg="rostopic" type="rostopic" name="novatel_config_m1"
        args="pub /novatel_port_in std_msgs/String 'eventoutcontrol mark1 enable positive 10000000 10000000'" output="screen" />
    -->

    <node pkg="rostopic" type="rostopic" name="novatel_config_m2"
        args="pub /novatel_port_in std_msgs/String 'eventoutcontrol mark2 enable positive 20000000 20000000'" output="screen" />
</launch>
