<launch>

  <!-- This will take care of lauching a pointgrey camera nodelet with an associated image_proc debayer node. -->
  <!-- This example is intended for simple testing. -->
  
  <!--node pkg="pointgrey_camera_driver" type="pointgrey_camera_node" name="pg_node_fwd_left" output="screen">
    <param name="serial" value="13041044" />
    <param name="canonical_name" value="fwd_left" />
  </node-->
  
  <node pkg="nodelet" type="nodelet" name="pg_nodelet_fwd_left" output="screen" args="standalone pointgrey_camera_driver/PointGreyCameraNodelet" >
      <param name="serial" value="13041044" />
      <param name="canonical_name" value="fwd_left" />
  </node>
  
  <!--node pkg="pointgrey_camera_driver" type="pointgrey_camera_node" name="pg_node_fwd_right" output="screen">
    <param name="serial" value="13041026" />
    <param name="canonical_name" value="fwd_right" />
  </node-->
  
  <node pkg="nodelet" type="nodelet" name="pg_nodelet_fwd_right" output="screen" args="standalone pointgrey_camera_driver/PointGreyCameraNodelet" >
      <param name="serial" value="13041026" />
      <param name="canonical_name" value="fwd_right" />
  </node>

</launch>
