extends layout

block content
  .row
    .col-lg-3.col-lg-offset-2
      button.btn.btn-success.btn-block(type='button', onclick='sendStart();') Start
    .col-lg-3.col-lg-offset-2
      button.btn.btn-danger.btn-block(type='button', onclick='sendStop();') Stop
  .row
    .col-lg-4.col-lg-offset-4
      input(id='filename_input', class="form-control")

  .row
    .col-lg-6
      img.img-responsive(src='http://dummyimage.com/300')
    .col-lg-6
      img.img-responsive(src='http://dummyimage.com/300')

  .row#diagnostics
